<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-textarea label="Densidade baixa" density="small" class="mr-2" placeholder="Digite somente números"></br-textarea>
  <br-textarea label="Densidade alta" density="large" class="mr-2" placeholder="Digite somente números"> </br-textarea>
</div>