<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-message
    state="success"
    is-feedback
    message="Campo correto."
    show-icon
    aria-label="Mensagem do aria-label para acessibilidade"
  ></br-message>
  <br-message
    state="warning"
    is-feedback
    message="A tecla CAPS-LOCK está ativada."
    show-icon
    aria-label="Mensagem do aria-label para acessibilidade"
  ></br-message>
  <br-message
    state="danger"
    is-feedback
    message="O CPF deve conter apenas dígitos."
    show-icon
    aria-label="Mensagem do aria-label para acessibilidade"
  ></br-message>
  <br-message state="info" is-feedback show-icon aria-label="Mensagem do aria-label para acessibilidade">
    <span>Os arquivos devem ser no formato PNG, JPG, PDF e ter no máximo 1GB.</span>
  </br-message>
</div>
