import { AttachInternals, Component, Element, Host, Prop, h } from '@stencil/core'
import { CssClassMap } from '../../utils/interfaces'

/**
* Para uma descrição detalhada, consulte a [documentação do GovBR-DS](https://www.gov.br/ds/components/{{name}}?tab=designer).
*
* @slot default - Descrição do slot
*/
@Component({
  tag: 'br-{{name}}',
  styleUrl: '{{name}}.scss',
  shadow: true,
  formAssociated: true,
})
export class {{toPascalCase name}} {
  /**
  * Referência ao elemento host do componente.
  * Utilize esta propriedade para acessar e manipular o elemento do DOM associado ao componente.
  */
  @Element() el: HTMLBr{{toPascalCase name}}Element

  @AttachInternals() elementInternals: ElementInternals

  /**
  * Identificador único.
  * Caso não seja fornecido, um ID gerado automaticamente será usado.
  */
  @Prop({ reflect: true }) readonly customId: string = `br-{{name}}-${{name}}Id++`

  /**
  * Explicação da prop
  */
  @Prop({ reflect: true }) prop1: boolean = false

  private getCssClassMap(): CssClassMap {
    return {
      'br-{{name}}': true,
    }
  }

  render() {
    return (
      <Host>
        <div class={this.getCssClassMap()}>
          <slot>{{toPascalCase name}}</slot>
        </div>
      </Host>
    );
  }
}

let {{toPascalCase name}}Id = 0
