<div class="d-flex flex-column justify-content-evenly mt-5 p-4">
  <br-upload label="Envio de arquivo" state="danger" accept="image/png, image/jpeg"></br-upload>
  <br-message
    class="spacing-feedback"
    state="danger"
    is-feedback
    message="Os arquivos devem ser no formato PNG ou JPG e ter no máximo 100MB."
    show-icon
    aria-label="Os arquivos devem ser no formato PNG ou JPG e ter no máximo 100MB."
  ></br-message>
</div>
