@import "~@govbr-ds/core/src/components/message/message";

:host {
  display: block;

  br-icon {
    margin: 0;
    vertical-align: middle;
    line-height: 1;
  }

  .icon-space {
    margin-right: var(--spacing-scale-half);
  }
}
