<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-list list-title="Por rótulo">
    <br-item>RÓTULO 01</br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <br-item>RÓTULO 02</br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
  </br-list>

  <br-list list-title="Por separador">
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <span class="br-divider"></span>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
    <br-item>
      <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
      Sub-item
      <span slot="end">META</span>
    </br-item>
  </br-list>
</div>