<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-textarea state="success" density="small" class="mr-2" placeholder="Exemplo de textarea com sucesso"></br-textarea>

  <br-textarea state="danger" density="large" class="mr-2" placeholder="Exemplo de textarea com erro"> </br-textarea>

  <br-textarea density="large" class="mr-2" disabled placeholder="Exemplo de textarea desabilitado"> </br-textarea>
</div>
