<script setup lang="ts">
import { ref } from "vue"
import { BrInput } from "@govbr-ds/webcomponents-vue"
const nome = ref("")
const checkValue = ref(false)
const radioValue = ref("")
const switchValue = ref(false)
const avatarUrl = ref("https://via.placeholder.com/60")
const mensagem = ref("Mensagem de exemplo")
const opcaoSelecionada = ref("")
const tagText = ref("Exemplo de Tag")
const textoArea = ref("")

function enviarFormulario() {
  console.log(
    nome.value,
    checkValue.value,
    radioValue.value,
    switchValue.value,
    opcaoSelecionada.value,
    textoArea.value
  )
}
</script>

<template>
  <div>
    <h1>Formulário Vue</h1>
    <form @submit.prevent="enviarFormulario">
      <label>Nome:</label>
      <br-input v-model="nome" type="text" />

      <label>Checkbox:</label>
      <input type="checkbox" v-model="checkValue" />

      <label>Radio:</label>
      <input type="radio" value="op1" v-model="radioValue" /> Opção 1
      <input type="radio" value="op2" v-model="radioValue" /> Opção 2

      <label>Switch (usando checkbox):</label>
      <input type="checkbox" role="switch" v-model="switchValue" />

      <label>Avatar:</label>
      <img :src="avatarUrl" alt="Avatar" width="60" />

      <label>Mensagem:</label>
      <p>{{ mensagem }}</p>

      <label>Select:</label>
      <select v-model="opcaoSelecionada">
        <option value="">Selecione</option>
        <option value="1">Opção 1</option>
        <option value="2">Opção 2</option>
      </select>

      <label>Tag:</label>
      <span class="tag">{{ tagText }}</span>

      <label>Textarea:</label>
      <textarea v-model="textoArea"></textarea>

      <button type="submit">Enviar</button>
    </form>
  </div>
</template>
