<script setup lang="ts">
import { BrMessage } from "@govbr-ds/webcomponents-vue"
</script>
<template>
  <main>
    <br-message
      message-title="Informação."
      is-inline
      is-closable
      auto-remove
      show-icon
      aria-label="Mensagem do aria-label para acessibilidade"
    >
      <span>
        Este aplicativo Vue foi desenvolvido para testar e demonstrar os componentes do padrão digital de governo. Ele
        serve como um ambiente de desenvolvimento e teste para garantir que os componentes estejam funcionando
        corretamente e</span
      >
    </br-message>
  </main>
</template>
