<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-tag color="bg-danger" shape="rounded" density="large"></br-tag>
  <br-tag color="bg-warning" shape="rounded" density="medium"></br-tag>
  <br-tag color="bg-success " shape="rounded" density="small"></br-tag>
  <br-tag label="Offline" color="bg-danger" shape="rounded" density="large" status></br-tag>
  <br-tag label="Ausente" color="bg-warning" shape="rounded" density="medium" status></br-tag>
  <br-tag label="Online" color="bg-success " shape="rounded" density="small" status></br-tag>
</div>
