<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-radio class="mb-1" id="radio-state-checked" name="radio-state-checked" checked label="Checked"></br-radio>
  <br-radio class="mb-1" id="radio-state-checked" name="radio-state-checked" disabled label="Disabled"></br-radio>
  <br-radio class="mb-1" id="radio-state-invalid" name="radio-state-invalid" state="invalid" label="Invalid"></br-radio>
  <br-radio id="radio-state-valid" name="radio-state-valid" state="valid" label="Valid"></br-radio>
</div>