<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-icon icon-name="fa-solid:biking"></br-icon>
  <br-icon icon-name="fa-solid:biking" rotate="90deg"></br-icon>
  <br-icon icon-name="fa-solid:biking" rotate="180deg"></br-icon>
  <br-icon icon-name="fa-solid:biking" rotate="270deg"></br-icon>
</div>
