@import "~@govbr-ds/core/src/components/checkbox/checkbox";
@import "~@govbr-ds/core/src/components/input/input";
@import "~@govbr-ds/core/src/components/tag/tag";

:host {
  display: block;

  .tag-position {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .tag-spacing-status {
    margin-left: var(--spacing-scale-half) !important;
  }
}
