<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-checkgroup label="Lista de opções" label-selecionado="Selecionar tudo" label-desselecionado="Desselecionar tudo">
    <br-checkbox id="ckb-1" name="h-checkbox-1" label="Opção 1" class="mb-1"></br-checkbox>
    <br-checkbox id="ckb-2" name="h-checkbox-2" label="Opção 2"></br-checkbox>
  </br-checkgroup>
</div>