<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-icon icon-name="fa-brands:chromecast"></br-icon>
  <br-icon icon-name="fa-regular:envelope"></br-icon>
  <br-icon icon-name="fa-solid:camera"></br-icon>
</div>