<div class="d-flex justify-content-evenly mt-5">
  <br-checkbox id="ckb-1" name="h-checkbox-1" label="Horizontal 1"></br-checkbox>
  <br-checkbox id="ckb-2" name="h-checkbox-2" label="Horizontal 2"></br-checkbox>
  <br-checkbox id="ckb-3" name="h-checkbox-3" label="Horizontal 3"></br-checkbox>
</div>
