<div class="d-flex flex-wrap justify-content-evenly mt-5">
  <br-item>
    <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
    Densidade baixa
    <span slot="end">META</span>
  </br-item>
  <br-item density="medium">
    <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
    Densidade padrão
    <span slot="end">META</span>
  </br-item>
  <br-item density="small">
    <br-icon slot="start" icon-name="fa6-solid:heart-pulse"></br-icon>
    Densidade alta
    <span slot="end">META</span>
  </br-item>
</div>