<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <div class="row">
    <div class="col-md-5 mx-3 mb-4">
      <br-item is-interactive>
        <br-checkbox id="check-01" name="check-01" label="Rótulo do Checkbox 01"></br-checkbox>
      </br-item>
      <br-item is-interactive>
        <br-checkbox id="check-02" name="check-02" label="Rótulo do Checkbox 02"></br-checkbox>
      </br-item>
    </div>

    <div class="col-md-5 mx-3 mb-4">
      <br-item is-interactive>
        <br-radio id="radio-01" name="radio" label="Rótulo do Radio 01"></br-radio>
      </br-item>
      <br-item is-interactive>
        <br-radio id="radio-02" name="radio" label="Rótulo do Radio 02"></br-radio>
      </br-item>
    </div>
  </div>
</div>