<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-input id="highlight" label="Destaque" placeholder="Destaque" is-highlight>
    <br-icon slot="icon" icon-name="fa-solid:user" aria-hidden="true"></br-icon>
    <br-icon slot="action" icon-name="fa-solid:search" aria-hidden="true"></br-icon>
  </br-input>
</div>
