<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-input id="button" label="Com botão à direita" placeholder="Com botão à direita">
    <br-icon slot="action" icon-name="fa-solid:search" height="16" aria-hidden="true"></br-icon>
  </br-input>
  <br-input
    label="Senha"
    type="password"
    placeholder="Placeholder"
    help-text="Informe a senha com 06 caracteres e no máximo 08 caracteres"
  >
  </br-input>
  <br-input id="icon" label="Com ícones" placeholder="Com ícones">
    <br-icon slot="icon" icon-name="fa-solid:user" aria-hidden="true"></br-icon>
  </br-input>
</div>
