<div class="d-flex flex-wrap justify-content-evenly mt-5 p-4">
  <br-input id="success01" label="Validação: sucesso" placeholder="Validação: sucesso" class="mr-2">
    <br-message
      slot="feedback"
      state="success"
      is-feedback
      message="Mensagem de sucesso"
      show-icon
      aria-label="Mensagem de sucesso"
    ></br-message>
  </br-input>
  <br-input id="danger01" label="Validação: danger" placeholder="Validação: danger" class="mr-2">
    <br-message
      slot="feedback"
      state="danger"
      is-feedback
      message="Mensagem de erro"
      show-icon
      aria-label="Mensagem de erro"
    ></br-message>
  </br-input>
  <br-input id="info01" label="Validação: info" placeholder="Validação: info" class="mr-2">
    <br-message
      slot="feedback"
      state="info"
      is-feedback
      message="Mensagem de info"
      show-icon
      aria-label="Mensagem de info"
    ></br-message>
  </br-input>
  <br-input id="warning01" label="Validação: warning" placeholder="Validação: warning" class="mr-2">
    <br-message
      slot="feedback"
      state="warning"
      is-feedback
      message="Mensagem de warning"
      show-icon
      aria-label="Mensagem de warning"
    ></br-message>
  </br-input>
</div>
